footer {
    background-color: var(--second-color);
}

footer h3 {
    padding-top: 20px;
    font-size: 1.75rem;
}

.icon {
    border: 1px white solid;
    padding: 10px;
}

.p{
    background-color: #1a252f;
    padding: 10px;
}