<footer class="text-white">
    <div class="container py-5">
        <div class="row px-3 py-5">
            <div class="footer-card col-md-4">
                <div class="card-body text-center">
                    <h3 class="text-uppercase">Location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="footer-card col-md-4">
                <div class="card-body text-center">
                    <h3 class="text-uppercase">around the web</h3>
                    <div class="icons">
                        <i class="fa-brands fa-facebook mx-1 rounded-circle icon"></i>
                        <i class="fa-brands fa-twitter mx-1 rounded-circle icon"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 rounded-circle icon"></i>
                        <i class="fa-solid fa-globe mx-1 rounded-circle icon"></i>
                    </div>
                </div>
            </div>
            <div class="footer-card col-md-4">
                <div class="card-body text-center">
                    <h3 class="text-uppercase">about freelancer</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p text-center py-3">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>
