input {
    position: relative;
}

label {
    color: var(--main-color);
    position: absolute;
    left: 0;
    transition: bottom .5s ease-in-out;
}

.form-control {
    border-color: transparent transparent var(--bs-border-color) transparent;
}

.form-control:focus {
    box-shadow: none;
}