<section id="home" class="home py-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center text-white">
            <figure class="home-img">
                <img src="assets/avataaars.svg" class="w-100" alt="">
            </figure>
            <figcaption class="text-center pt-4">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start framework</h2>
                <div class="star-line d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3 bg-white"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="line ms-3 bg-white"></div>
                </div>
                <div>Graphic Artist - Web Designer - Illustrator</div>
            </figcaption>
        </div>
    </div>
</section>
